<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://BSSM/tDLNA" version="1.0.0" viewmodes="maximized">
    <tizen:app-control>
        <tizen:src name="setting.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/create_content"/>
    </tizen:app-control>
    <tizen:application id="X0OmcPEKY7.TDLNA" package="X0OmcPEKY7" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png" height="108" width="108"/>
    <name xml:lang="en">English Name</name>
    <name xml:lang="kr">Korea Name</name>
    <name>T-DLNA</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
    <tizen:privilege name="http://tizen.org/privilege/mediastorage"/>
    <tizen:privilege name="http://tizen.org/privilege/network.get"/>
    <tizen:privilege name="http://tizen.org/privilege/systemsettings"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/display"/>
    <tizen:privilege name="http://tizen.org/privilege/externalstorage"/>
    <tizen:profile name="mobile"/>
    <tizen:setting screen-orientation="portrait" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
